nav {
  width: 100%;
}

.container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.alignLeft {
  justify-content: flex-start;
}

.alignRight {
  justify-content: flex-end;
}

.link {
  padding: 16px 0;
  color: rgb(1, 114, 173);
  text-decoration: none;
}

.leftAlignLink {
  align-self: flex-start;
}

.link:hover {
  color: rgb(2, 101, 154);
  text-decoration: underline;
}

@media (max-width: 639px) {
  .container {
    width: 100%;
    justify-content: space-between;
  }
}
