.table {
  max-width: 600px;
  width: auto;
  table-layout: fixed;
  font-size: 1rem;
  border-collapse: collapse;
}

.table th,
td {
  text-align: start;
  font-weight: 400;
  padding: 0.5rem 1rem;
}

.table tr {
  border-bottom: 0.0625rem solid var(--table-border-color);
}

@media (max-width: 639px) {
  .table th,
  td {
    padding: 0.5rem 0.5rem;
  }
}
