.editButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  width: auto;
  max-width: 600px;
  margin-top: 1rem;
}

.btnCancel {
  color: rgb(217, 53, 38);
  border-color: rgb(217, 53, 38);
}

.btnCancel:hover {
  background-color: rgb(154, 37, 26);
  color: #fff;
}

.table {
  max-width: 600px;
  width: auto;
  table-layout: fixed;
  font-size: 1rem;
  border-collapse: collapse;
}

.table th {
  text-align: start;
  font-weight: 400;
  padding: 0.5rem 1rem;
}

.table td {
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: start;
  font-weight: 400;
  width: 70%;
  padding: 0.5rem 1rem;
  max-width: 0;
}

.table tr {
  border-bottom: 0.0625rem solid var(--table-border-color);
}

.requiredStar {
  color: var(--color-required-star);
}

.formError {
  color: rgb(136, 57, 53);
  font-weight: 400;
  font-size: 0.875rem;
  width: 100%;
}

@media (max-width: 639px) {
  .table th,
  td {
    padding: 0.5rem 0.5rem;
  }
}
