.btn {
  margin-top: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  cursor: pointer;
  min-width: 10rem;
  border: 0.0625rem solid rgb(1, 114, 173);
  color: rgb(1, 114, 173);
  border-radius: 0.25rem;
  padding: 0.75rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: rgb(1, 114, 173);
  color: #fff;
}