.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.formError {
  color: rgb(136, 57, 53);
  font-weight: 400;
  font-size: 0.875rem;
  width: 100%;
}
