.tableContainer {
  margin-top: 16px;
  width: 100%;
  overflow-x: auto;
}

.table thead {
  border-bottom-width: 0.1875rem;
  border-color: rgb(231, 234, 240);
}

.table tbody tr {
  border-bottom-width: 0.0625rem;
  border-color: rgb(231, 234, 240);
}

.table th {
  text-align: start;
}

.tableElement {
  padding: 10px 20px;
}

.table tbody tr:nth-child(2n + 1) {
  background-color: rgba(111, 120, 135, 0.0375);
}

.link {
  color: rgb(1, 114, 173);
  text-decoration: underline;
}

.link:hover {
  color: rgb(1, 88, 135);
  text-decoration: underline;
}
