.table {
  width: 100%;
  table-layout: fixed;
  font-size: 1rem;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table th {
  text-align: start;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.table td {
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: start;
  font-weight: 400;
  width: 85%;
  padding: 0.5rem 1rem;
}

.table tr {
  border-bottom: 0.0625rem solid var(--table-border-color);
}

.keywordsCell {
  display: flex;
  flex-direction: column;
}
