@import 'tailwindcss';

:root {
  --font:
    system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, 'Helvetica Neue',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --text-title-color: #424751;
  --text-color: #373c44;
  --font-size: calc(0.36vw + 14.4px);
  --table-border-color: rgb(231, 234, 240);
  font-size: var(--font-size);
}

body {
  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--text-color);
}

header,
footer {
  flex-shrink: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 0 10%;
  box-sizing: border-box;
}

@media (max-width: 639px) {
  main {
    padding: 0 5%;
  }
}
