@import 'tailwindcss';

:root {
  --font:
    system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, 'Helvetica Neue',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --text-title-color: #424751;
  --text-color: #373c44;
  --font-size: calc(0.36vw + 14.4px);
}

body {
  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}

main {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
