.windowContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.window {
  width: 62.5%;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 1.5rem 4rem;
}

.heading {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 0 20px 0;
}

@media (max-width: 1168px) {
  .window {
    width: 81.25%;
    padding: 1.5rem 3rem;
  }
}

@media (max-width: 639px) {
  .window {
    width: 112.5%;
    padding: 1.5rem 2rem;
  }
}
