form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.formField {
  margin-top: 10px;
  width: 100%;
  text-transform: capitalize;
}

.halfFormField {
  width: 48%;
}

.requiredStar {
  color: rgb(217, 53, 38);
}

.input {
  appearance: none;
  width: 100%;
  padding: 10px;
  height: 50px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-sizing: border-box;
  display: inline-block;
  background-color: rgb(251, 252, 252);
  color: rgb(35, 38, 44);
  border-radius: 0.25rem;
  border-color: #cfd5e2;
  border-width: 0.0625rem;
}

.input:active,
.input:focus {
  outline: rgba(93, 107, 137, 0.25);
}

.inputError {
  color: rgb(136, 57, 53);
  font-weight: 400;
  font-size: 0.875rem;
}

.btn {
  margin-top: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  cursor: pointer;
  min-width: 10rem;
  border: 0.0625rem solid rgb(1, 114, 173);
  color: rgb(1, 114, 173);
  border-radius: 0.25rem;
  padding: 0.75rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: rgb(1, 114, 173);
  color: #fff;
}

@media (max-width: 639px) {
  .halfFormField {
    width: 100%;
  }
}
